body, html {
    min-height: 100%;
    margin:0;
    
}

body{
    background-image: url('../images/deathstar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#gameTitle{
    font-family: STARWARS;
	color: white;
	text-align:center;
	font-size: 85px;
	text-shadow: 7px 7px 7px black;    
}
.headdingStyle{
    font-family: STARWARS;
	color: white;
}

.character:hover{
    cursor:pointer;
}
.characterName{
    text-align: center;
}
.characterPower{
    text-align: center;
}
.characterImg{
   width:150px;
  height:150px;
    object-fit: fill;
}
.character{
    display:inline-block;
    border:2px solid green;
}
#enemiesAvail{
    font-family: STARWARS;
	color: white;
}

